@keyframes thor-anime {
    0% {
        background-image: url('assets/thor1.svg');
        top: 53%;
    }

    50% {
        background-image: url('assets/thor2.svg');
        top: 53.2%;
    }

    100% {
        background-image: url('assets/thor1.svg');
        top: 53%;
    }
}

@keyframes thor-anime2 {
    0% {
        top: 53%;
    }

    50% {
        top: 53.1%;
    }

    100% {
        top: 53%;
    }
}

@keyframes ufo-anime {
    0% {
        top: 0px;
    }

    100% {
        top: 300xp;
    }
}

@keyframes majolnir-Anime {
    0% {
        transform: rotate(0deg);
        border-top: 4px solid rgb(0, 255, 234);
        border-radius: 50%;
        padding: 10px;
    }

    30% {
        border: none
    }

    60% {
        border-top: 4px solid rgb(0, 255, 162)
    }

    90% {
        border: none
    }

    100% {
        transform: rotate(359deg);
        border-radius: 50%;
        padding: 10px;
    }
}